.gavgav-popup {
  min-width: 260px;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: #5181b8 1px solid;
}

.gavgav-popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all .5s;
}

@media screen and (max-width: 805px) {
.gavgav-popup {
  gap: 10px;
  }
}
