body {
  margin: 0;
  background-color: rgb(237, 238, 240);
  font-family: apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee",
    "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
    "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao",
    "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai",
    sans-serif, arial, Tahoma, verdana;
}
.the-mainest-div {
  text-align: center;
}
.top-string {
  background-color: white;
  width: 100%;
  height: 48px;
  display: inline-block;
  text-align: left;
}
.logo-text {
  margin: 0 0 20px;
  display: inline-block;
  width: fit-content;
}
.minilogo {
  padding-top: 12px;
  margin-left: 170px;
}
.top-ankor-text {
  vertical-align: 20%;
  margin-bottom: 15px;
  color: black;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  font-family: apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee",
    "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
    "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao",
    "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai",
    sans-serif, arial, Tahoma, verdana;
}
.search {
  margin: 0 33px;
  display: inline-block;
}
.search-wind {
  width: 230px;
  height: 32px;
  padding: 0 0 0 34px;
  border-radius: 5px;
  background-color: rgb(237, 238, 240);
  border: none;
  vertical-align: 8px;
  color: #656565;
  font-family: apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee",
    "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
    "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao",
    "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai",
    sans-serif, arial, Tahoma, verdana;
  font-weight: 400;
}
.login-card {
  display: inline-block;
  width: 149px;
  margin: 18px 12px;
  vertical-align: top;
}
.login-text {
  text-align: left;
  color: rgb(132, 132, 133);
  font-size: 12.5px;
  line-height: 1.154;
  font-family: apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee",
    "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
    "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao",
    "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai",
    sans-serif, arial, Tahoma, verdana;
}
.forms {
  width: 149px;
  height: 30px;
  padding: 5px 9px 7px;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(220, 225, 230);
  box-shadow: none;
}
.login-button {
  border-radius: 5px;
  border: 0;
  width: 149px;
  height: 30px;
  background-color: #5181b8;
  color: white;
  display: block;
  margin: 10px auto 0;
  padding: 7px 3px 8px;
  transition: opacity 0.2s;
  cursor: pointer;
}
.login-button:hover {
  opacity: 0.5;
}
.login-quest {
  color: rgb(42, 88, 133);
  font-size: 12.5px;
  line-height: 1.154;
  display: block;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}
.login-quest-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}
.login-quest-popup-bg.activ {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}
.login-quest-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  width: 300px;
  padding: 25px;
  border-radius: 5px;
  transition: 0.5s all;
  text-align: center;
}
.login-quest-popup.activ {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}
.login-quest-popup-image {
  margin-bottom: 10px;
}
.login-quest-popup-button {
  width: 65%;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 540;
  border-radius: 5px;
  border: 2px solid #5181b8;
  background-color: #5181b8;
  color: white;
  cursor: pointer;
  transition: 0.5s all;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.login-quest-popup-button:hover {
  background-color: white;
  color: #5181b8;
}
.login-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}
.login-popup-bg.activ {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}
.login-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  width: 400px;
  padding: 25px;
  border-radius: 5px;
  transition: 0.5s all;
}
.login-popup.activ {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}
.closepu {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.login-popup label {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
}
.label-text {
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(132, 132, 133);
  margin-bottom: 5px;
}
.login-popup input {
  border: none;
  outline: none;
  border-bottom: rgb(132, 132, 133) solid 1px;
  height: 30px;
  font-size: 18px;
}
.login-popup input:focus {
  border-bottom: #5181b8 3px solid;
}
.login-popup input:focus + .label-text {
  color: rgb(81, 129, 184);
}
.beauty {
  font-size: 16px;
  font-weight: 550;
  text-transform: uppercase;
  margin: 0;
}
.checkbox {
  position: absolute;
  right: 130px;
  bottom: 100px;
}
.popup-button {
  width: 100%;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 540;
  border-radius: 5px;
  border: 2px solid #5181b8;
  background-color: #5181b8;
  color: white;
  cursor: pointer;
  transition: 0.5s all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-button:hover {
  background-color: white;
  color: #5181b8;
}
.avatar-card {
  display: inline-block;
  width: 230px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 13px;
  margin-top: 13px;
}
.avatar {
  width: 200px;
  height: 273px;
  display: block;
  margin: auto;
  padding: 13px 0 0;
}
.avatar-button {
  border-radius: 5px;
  border: 0;
  width: 200px;
  height: 30px;
  background-color: #5181b8;
  color: white;
  display: block;
  margin: 10px auto 0;
  padding: 7px 3px 8px;
  cursor: pointer;
}
.avatar-button:hover {
  opacity: 0.5;
}
.kus-video-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s all;
}
.kus-video-bg.activ {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}
.kus-videodiv {
  margin-top: 40px;
}
.info-card {
  background-color: white;
  width: 631px;
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  margin-left: 10px;
  border-radius: 3px;
  /*padding: 15px 20px; пока ненадо*/
}
.user-name-card {
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgb(220, 225, 230);
  border-style: solid;
  padding: 0 15px;
}
.name-text {
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  text-align: left;
}
.city-and-bday {
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgb(220, 225, 230);
  border-style: solid;
  padding: 15px 20px;
  text-align: left;
}
.left-block {
  width: 200px;
  display: inline-block;
  text-align: left;
}
.right-block {
  width: 200px;
  display: inline-block;
}
.text-in-cards {
  color: rgb(42, 88, 133);
  font-size: 12.5px;
  line-height: 1.154;
  font-weight: normal;
}
.statistic-card {
  text-align: center;
}
.stat {
  width: 90px;
  display: inline-block;
  padding: 15px;
  vertical-align: middle;
}
.numbers {
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  color: rgb(42, 88, 133);
}
