.login-popup__heading {
  margin: 0;
}

@media screen and (max-width: 805px) {
  .login-popup__heading {
    font-size: 22px;
  }
}

@media screen and (max-width: 605px) {
  .login-popup__heading {
    font-size: 20px;
  }
}
