.login-popup__button {
  width: 70%;
  align-self: center;
  border-radius: 5px;
  border: 2px solid #5181b8;
  background: #5181b8;
  color: white;
  transition: opacity .2s;
  cursor: pointer;
  padding: 7.5px 3px;
  box-sizing: border-box;
  font-size: 13.5px;
  text-align: center;
}

.login-popup__button:hover {
  opacity: .5;
}

.login-popup__button:active {
  background: white;
  color: #5181b8;;
}

