.posts-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 15px;
  background: white;
  box-sizing: border-box;
  border-radius: 5px;
}

@media screen and (max-width: 605px) {
  .posts-card {
    gap: 10px;
    padding: 10px;
  }
}
