.close-butt {
  cursor: pointer;
  transition: opacity .2s linear 0s;
  border-radius: 50%;
}

.close-butt:hover {
  opacity: .5;
  transform: rotate(1440deg);
  transition: transform 10s linear;

}

.close-butt:active {
  opacity: .1;
}
