.popup__close-button {
  width: 20px;
  height: 18px;
  align-self: flex-end;
  background: url(../../../media/images/close1.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s;
  border-radius: 50%;
}

.popup__close-button:hover {
  opacity: .5;
  transform: rotate(1440deg);
  transition: transform 10s;
}
