.popup__container_type_signin {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.popup__container_type_signin.girl {
  filter: hue-rotate(115deg);
}

/* .login-popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.5s;
} */
