.animation-card {
  padding: 20% 15px;
  box-sizing: border-box;
  background: red;
  animation: animation-hipnotyze .2s infinite;
  cursor: pointer;
}

@keyframes animation-hipnotyze {
  from {
    background: greenyellow;
  }

  to {
    background: red;
  }
}

.animation-card.hidden {
  display: none;
}

@media screen and (max-width: 605px) {
  .animation-card {
    display: none;
  }
}
